@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 custom-text">Welcome To Numl <br /> By <br /> Xaifa | Ibbi</h1>
</div>

<style>
    .custom-text {
        color: darkblue; 
        font-weight: bold;
        text-shadow: 
            -1px -1px 0 #ffffff,  
            1px -1px 0 #ffffff,
            -1px 1px 0 #ffffff,
            1px 1px 0 #ffffff; 
    }
</style>
