.btn-sm {
    padding: .25rem .5rem;
    font-size: .875rem;
}

#enterButton {
    margin-right: 10px;
}

.btn-secondary {
    background-color: darkblue !important;
    border-color: darkblue !important;
}

select.btn-secondary {
    color: white;
}

.date-container {
    margin-right: 10px;
}
.logo-container {
    margin-right: 20px;
    text-align: center;
    margin-bottom: 10px; 
}

    .logo-container img {
        width: 150px; 
        height: auto;
    }
.second-nav .date-container {
    margin: 0 15px !important;
    white-space: nowrap !important;
}
.second-nav .logo-container img {
    height: 110px; 
    width: auto;
    margin-right: 15px;
}