.btn-sm {
    padding: .25rem .5rem;
    font-size: .875rem;
}

#enterButton {
    margin-right: 10px;
}

.btn-secondary {
    background-color: darkblue !important;
    border-color: darkblue !important;
}

select.btn-secondary {
    color: white;
}

.date-container {
    margin-right: 10px;
}
.logo-container {
    margin-right: 20px;
    text-align: center;
    margin-bottom: 10px; 
}

    .logo-container img {
        width: 100px !important;
        height: auto;
    }
.second-nav .date-container {
    margin: 0 15px !important;
    white-space: nowrap !important;
}
.second-nav .logo-container img {
    height: 110px; 
    width: auto;
    margin-right: 15px;
}
.table {
    width: 100%;
    margin-bottom: 1rem;
    background-color: white;
    border: 2px solid #000;
    border-collapse: collapse;
}

    .table th {
        padding: 1rem;
        vertical-align: middle;
        background-color: #1a237e; /* Dark blue background for headers */
        color: white;
        font-weight: bold;
        border: 1px solid #000;
    }

    .table td {
        padding: 0.75rem;
        vertical-align: middle;
        border: 1px solid #000;
        color: #000;
    }

    .table tbody tr:hover {
        background-color: rgba(0,0,0,.05);
    }

/* Additional styles for DataTable elements */
.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_paginate {
    margin: 10px 0;
}