@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NUML</title>
    <style>
        .custom-text {
            color: darkblue;
            font-weight: bold;
            text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
        }
    </style>
</head>
<body>
    <div class="text-center">
        <! -- 
            If you are reading this while debugging ignore it I wrote it for some smart fellas 
            probably never get to use it hardly anyone would try it  but if they do ill be one step ahead XD.
        -->
        <h1 class="display-4 custom-text">Secret Page ;) <br> Only One way to get here via Site So if you Did Nice Try But I Already Covered That Loophole XD <br /> Regards By Huzaifa Awan :p</> </h1>
    </div>
</body>
</html>



